$main_dark = #000
$main_lite = #fff
$main_highlite = #FBD784
$main_buttons = #FFA343
$main_shift = 4.7rem;
$main_border = rgba($main_lite, 30%)
$border_radius = 0.4444em;

html,
body {
    font: 18px/1.7 'Open Sans', sans-serif;
    
}
body {
    background: $main_dark url("/images/cover.jpg") no-repeat center top;
    background-size: 100% auto;
    color: $main_lite;
}
a{
    color: $main_highlite;
    transition: opacity 0.3s;
    opacity: 1;

    &:visited {
        color: darken($main_highlite, 10)
        }
    &:hover, &:active {
        opacity: 0.7;
        }
}

/* Main  styles */
.page {
    overflow: hidden;
    }
.content {
    padding: 0 $main_shift $main_shift;
    max-width: 1460px;
    margin: 0 auto;

    p {
        margin-bottom: 1.3rem;
    }  
    &_small {
        width: 934px;
        padding: 0 2.75rem 2.5rem;
        margin: 0 auto;
        }  
}
.cover-space {
    padding-bottom: 82%;
    }
.header {
    position: absolute; 
    top: 2rem;
    width: 100%; 
    &__content {
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: 0 $main_shift;
        align-items: center;
        }
    
    &__center {
        display: flex;
        justify-content: center;
        }
}

.logo {
    color: $main_lite;
    text-decoration: none;
    letter-spacing: 1%;

    &:visited{
        color: $main_lite;
    }
    
    &:hover, 
    &:active {
        color: $main_highlite;
    }
    &__title {
        font-size: 1.3rem;
        font-weight: 700;
    }
}
.main-nav {
    &__list {
        display: flex;
    }

    &__link{
        color: $main_lite;
        text-decoration: none;
        padding: 1.8rem 1.38rem;
        display inline-block;

        &:visited{
            color: $main_lite;
        }
    }
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
   
   
    &__icon{
        width: 1rem;
        height: 1rem;
        background: url('/images/icons/search.svg') no-repeat center center;
        background-size: content;
        cursor: pointer;
        padding-right: 0.5rem;
    }

    &__form {
        background: none;
        border: none;
        transition: width 0.3s;
        width: 3.4rem;
        font: 0.9rem/1 'Open Sans', sans-serif;
        padding: 0.2rem 0.5rem;
        border-radius: 5px;

        &::placeholder{
            color: white;
            opacity: 1;
            }
        &:focus {
            border: none;
            outline: none;
            width: 10rem;
            background: white;
            
            &::placeholder{
                color: $main_dark;
                opacity: 1;
            }
        }
    }
}
.main-title {
    font-size: 1rem;
    margin-bottom: 6.2em;

    &__summary{
        color: $main_highlite;
        text-transform: uppercase;
        letter-spacing: .36em;
        display: flex;
        align-items: center;
        margin-bottom: 1.5em;

        &:before{
            content: '';
            display: block;
            width: 4em;
            height 2px;
            margin-right: 1.5rem;
            background-color: $main_highlite;
        }
    }

    &__text {
        font-size 5.4em;
        font-weight: 700;
        line-height: 1.1;

        &_regular {
            display: block;
            font-size: 0.9em;
            font-weight: 400;    
        }    
    }
}
.main-title_small {
    font-size: 1rem;
    margin-bottom: 1.8em;

    .main-title__text{
        font-size: 3.4em;
        line-height: 1.4;
    }
}
.main-title_centered{
    text-align: center;
    .main-title__summary {
        justify-content: center;

        &::after{
            content: '';
            display: block;
            width: 4em;
            height 2px;
            margin-left: calc(1.5em - 0.36em);
            background-color: $main_highlite;
            }
        }
    }
.social-networks{
    position: absolute;
    left: 0;
    top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        writing-mode: vertical-lr;
        margin-bottom: 1.3rem;
    }

    &__item {
        margin-bottom: 1rem;
    }

    &__link {
        opacity: 1;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.7}
    }
}
.social-horisontal {
    display: flex;
    font-size: 1.3rem;
    &__item {
        display: inline-block;
        margin-left: 2rem;
        }
    &__link {
        display: inline-block;
        opacity: 1;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.7}
    }
}


.scroll-down {
    position: absolute;
    display: flex;
    cursor: pointer;
    opasity: 1;
    transition: 0.3s; 
    margin-top: 16em;       

    &:hover {
        opacity: 0.7;
    }
    &__icon {
        margin: 0.2em 0 0 0.5em;
    }
}   
/* Columns */
.section {
    margin-bottom: 14rem;
    &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: columns;
    position: absolute;
    left: $main_shift;
    right: $main_shift;
    top: 14vw;
    }
}
.section__cols {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-col{
    &__image{
        width: 40%;
    } 
    &__content {
        width: 44%;
    }  
.section-border{
    padding-bottom: 3rem;
    border-bottom: 1px solid $main_border;
    margin-bottom: 3rem;
}

}
.arrow-link{
    text-decoration: none;
    display: flex;
    align-items: center;

    &__icon{
        margin: 0.2rem 0 0 0.4rem;
    }   
    &_centered {
        justify-content: center;
        } 
}
/* Icons*/
.icon__instagram {
    width: 1.3em;
    height: 1.3em;
    background: url('/images/icons/instagram.svg') no-repeat center center;
    background-size: cover;
}

.icon__twitter {
    width: 1.3em;
    height: 1.3em;
    background: url('/images/icons/twitter.svg') no-repeat center center;
    background-size: cover;
}

.icon__facebook {
    width: 1.3em;
    height: 1.3em;
    background: url('/images/icons/facebook.svg') no-repeat center center;
    background-size: cover;
}
.icon__arrow_downward {       
    width: 0.9em;
    height: 1.3em;
    background: url('/images/icons/arrow_downward.svg') no-repeat center center;
    background-size: contain;
}
.icon__arrow_righrward {
    width: 1.4em;
    height: 0.9em;
    background: url('/images/icons/arrow_rightward.svg') no-repeat center center;        
    background-size: contain;
}
/* Gallery */

.gallery {
    &__slide {
        position: relative;
        width: 100%;
        padding-bottom: 67%;
        background-size: cover;
        }
    &__content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background: linear-gradient(to top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
        }
    }
/* Footer */
.footer {
    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7rem;
        }
    &__bottom {
        display: flex;
        justify-content: space-between;
        padding: 0 2.22rem;
        }
    &__link {
        color: $main_lite;
        text-decoration: none;
        font-size: 0.833rem;
        display: inline-block;
        margin-right: 4.5rem;
        &:hover,
        &:visited,
        &:active {
            color: $main_lite;
            }
        &:last-child {
            margin-right: 0;
            }
        }

    }
.start {
    display:flex;
    align-items: center;
    justify-content: space-between;

    &__title {
        font-size: 2.66rem;
        font-weight: 700;
        margin-right: 3rem;
        }    
    &__descr {
        font-size: 1.22rem;
        margin-right: 3rem;
        }
    &__content {
        display: flex;
        align-items:center;
        }
    &__devider {
        padding: 48px 0;
        &:before {
            content: '';
            display: block;
            background-color: #fff;
            opacity: 0.3;
            width: 100%;
            height: 2px;
            }
        }
}
.button {
    border: none;
    background: $main_buttons;
    font: 700 0.9rem/1 'Open Sans', sans-serif;
    padding: 1.6em 4.5em 1.4em;
    border-radius: $border_radius;
    cursor: pointer;
    transition: background 0.3s;
    color: $main_dark;

    &:hover {
        background: $main_highlite;
    }
}
.subscribe {
    width: 27%;

    &__title {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: 1.38em;
        }
    }
.email {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    border-bottom: 1px solid $main_border;

    &__form {
        background: none;
        border: none;
        // transition: width 0.3s;
        font: 0.83rem/1 'Open Sans', sans-serif;
        padding: 1.1rem 0.77rem 1.77rem;
        // border-radius: 5px;
        color: $main_lite;

        &::placeholder {
            color: $main_border;
        }

        &:focus {
            border: none;
            outline: none;
        }
    }
    &__button {
        position: relative;
        padding: 0;
        height: 100%;
        width: 3.55rem;
        border-radius: $border_radius $border_radius 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.icon__right {
    width: 1.5rem;
    height: 1.5rem;
    background: url('/images/icons/arrow_right.svg') no-repeat center center;
    background-size: contain;
}
.menu {
    &__title {
        color: $main_highlite;
        font-weight: 700;
        font-size: 1.1rem;
        margin-bottom: 0.6em;
        }
    &__item{
        margin-bottom: 0.8rem;
        }
    &__link {
        color: $main_lite;
        text-decoration: none;

        &:hover,
        &:visited,
        &:active {
            color: $main_lite;
            }
        }
    }
/* Media */ 
